* {
	margin: 0;
}

body, html {
	text-align: center;
	height: 100%;
	margin-top: 0;
	font-family: Roboto;
	padding-top: 0;
}

.hero-image {
	/* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("alex-ghizila-UD_j10SKj5g-unsplash.jpg"); */
	background-image: url("alex-ghizila-UD_j10SKj5g-unsplash.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/* background: ; */
	/* filter:alpha(opacity=1000); */
	/* opacity: 0.1; */
  }


h1 {
	font-size: 4em;
	font-weight: bold;
	/* padding: 50px; */
}


.container {
	padding: 2em;
	/* width: 100%; */
	/* margin: auto; */
	/* text-align: center; */
}

#status {
	font-size: 2em;
	padding-top: 1em;
	font-style: oblique;
	color: black;
	/* text-shadow: black 0.1em 0.1em 0.3em; */
}

#pomodoro {
	margin: 0;
	position: relative;
}

.timerDisplay {
	font-size: 8em;
	color: white;
	/* font-weight: bold; */
	text-shadow: black 0.1em 0.1em 0.3em;
	
}

.btn {
	margin: 10px;
	cursor: pointer;
	border-radius: 4px;
	padding: 0.7em 1.2em;
	font-size: 1em;
	border-color: black;
}

/* #start-btn:hover {
	background-color:green;
	color: white;
} */

.settings {
	padding: 2em;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	grid-template-columns:  10fr 0fr 10fr;
}

.duration-text, #work-min, #break-min {
	font-size: 1.5em;
	color: white;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em;
	padding-bottom: 0.5em;
}

#work-min, #break-min {
	font-size: 1.3em;
	padding: 0.4em;
}

.reset {
	padding-top: 3em;
}

.btn-settings {
	padding: 0.2em 1em;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 4px;
}


#pauseHover:hover {
	background-color: "yellow";
}

/* #work-plus, #break-plus {
	padding-top: 1em;
} */








