* {
	text-align: center;
	
}

h1 {
	font-size: 4em;
	font-weight: bold;
	padding: 50px;
}

.container {
	padding: 0px;
	width: 100%;
	margin: auto;
	text-align: center;
}


#pomodoro {
	margin: 0 auto;
	position: relative;
}

.timerDisplay {
	font-size: 100px;
	
}


.btn {
	margin: 10px;
	cursor: pointer;
	border-radius: 4px;
	padding: 8px 10px;
}

.settings {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
	/*grid-template-columns:  1fr 1fr; */
}



.button-test {
	display: flex;
	flex-direction: row;
}


#work-plus, #work-minus, #break-plus, #break-minus {
	border-radius: 4px;
}

















